body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
  overflow: hidden;

  background-color: #0B0F19;
}

form {
  background-color: #0B0F19;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 600px;
  
  /* box-shadow: 10px 10px 10px rgb(97, 88, 88);
  border-radius: 20px; */
}

input {
  /* margin: 0px; */
  width: 75%;
  border-radius: 10px;
  padding: 10px;
}

.ligne {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  margin: 10px;
}
.ligne a {
  border: solid;
  border-radius: 10px;
  padding: 5px;
  text-decoration: none;
  color: #ffffff;
  transition: 0.5s;
}
.ligne a:hover {
  scale: 1.05;
}

::-webkit-scrollbar {
  display: none;
}
h2 {
  
  width: 68%;
  margin-bottom: 20px;
  color: white;
  width: 400px;
}
h3 {
  margin: 0;
  font-size: 22px;
  color: #ffffff;
}

h4 {
  margin: 0;
  font-size: 14px;
  color: #ffffff;
  font-weight: 400;
}

.accueil {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.accueil a {
  padding: 12px;
  text-decoration: none;
  color: white;
  background: #333;
  border-bottom: 1px solid #555;
}

.accueil a:hover {
  background: #555;
}

  /* .containerO{
        display: flex;

        justify-content: center;
        border: solid 1px white;
        padding: 10px;
        width: 90%;
        
      }
      .containerO .case {
        width: 50%;
        height: 50%;
        border: solid 0.1px white;
      } */